<mat-card class="request-response-loop--card">
    <mat-card-header>
        <mat-card-title>Request-Response-Loop w/Logic Simulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="request-response-loop--content--container">
            <mat-card *ngFor="let item of items">
                <mat-card-content>
                    <div class="request-response-loop--output--header">
                        <div class="request-response-loop--output--content">
                            <div class="request-response-loop--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ item.id }}</span>
                            </div>
                            <div class="request-response-loop--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ item.name }}</span>
                            </div>
                            <div class="request-response-loop--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ item.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-select class="request-response-loop--select" placeholder="Requests" [(value)]="selectedRequest">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let request of requests" [value]="request">{{ request }}</mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="handleExecuteClicked($event)">Execute</button>
        <span *ngIf="isRunning" class="content--display">{{ status }}</span>
    </mat-card-actions>
</mat-card>