<mat-card>
    <mat-card-header>
        <mat-card-title>Service - Based Cross Component Communication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <permutr-service-input></permutr-service-input>
        <permutr-service-output></permutr-service-output>
    </mat-card-content>
</mat-card>
