<permutr-patterns-header></permutr-patterns-header>
<permutr-dependency-chain></permutr-dependency-chain>
<permutr-isolation></permutr-isolation>
<permutr-trigger-get></permutr-trigger-get>
<permutr-request-response-loop></permutr-request-response-loop>