<mat-card class="trigger-get--card">
    <mat-card-header>
        <mat-card-title>Trigger-Get w/Logic Simulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="trigger-get--content--container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awating Content from Source A</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="trigger-get--output--header">
                        <!-- <div class="trigger-get--output--content--row" *ngIf="statusA">
                            <span>Status: </span>
                            <span class="content--display">{{ statusA }}</span>
                        </div> -->
                        <div class="trigger-get--output--content" *ngIf="valueA">
                            <div class="trigger-get--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ valueA.id }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ valueA.name }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ valueA.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awating Content from Source B</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="trigger-get--output--header">
                        <!-- <div class="trigger-get--output--content--row" *ngIf="statusB">
                            <span>Status: </span>
                            <span class="content--display">{{ statusB }}</span>
                        </div> -->
                        <div class="trigger-get--output--content" *ngIf="valueB">
                            <div class="trigger-get--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ valueB.id }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ valueB.name }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ valueB.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awating Content from Source C</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="trigger-get--output--header">
                        <!-- <div class="trigger-get--output--content--row" *ngIf="statusC">
                            <span>Status: </span>
                            <span class="content--display">{{ statusC }}</span>
                        </div> -->
                        <div class="trigger-get--output--content" *ngIf="valueC">
                            <div class="trigger-get--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ valueC.id }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ valueC.name }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ valueC.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awating Content from Source D</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="trigger-get--output--header">
                        <!-- <div class="trigger-get--output--content--row" *ngIf="statusC">
                            <span>Status: </span>
                            <span class="content--display">{{ statusD }}</span>
                        </div> -->
                        <div class="trigger-get--output--content" *ngIf="valueD">
                            <div class="trigger-get--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ valueD.id }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ valueD.name }}</span>
                            </div>
                            <div class="trigger-get--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ valueD.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle color="primary" (change)="handleSlideToggleChanged($event)">Logic Flag</mat-slide-toggle>
        <button mat-raised-button color="primary" (click)="handleExecuteClicked($event)">Execute</button>
        <span class="content--display">{{ status }}</span>
        <!-- <div *ngIf="status">
            <span>Status: </span>
            <span class="content--display">{{ status }}</span>
        </div> -->
    </mat-card-actions>
</mat-card>