<div class="home-page--header">
    <h1 class="header--primary">Personal Museum Tracker</h1>
    <h2 class="header--secondary">Manage your collectible inventory</h2>
</div>
<div class="home-page--body">

</div>
<div class="home-page--footer">
    <button mat-button class="footer--button" (click)="handleGithubRepoClicked($event)">GitHub</button>
    <span class="version--span">{{version}}</span>
    <span class="developer--span">{{developer}}</span>
</div>