@import '../../../../theme/variables.scss';

:host {
    background-color: $theme-primary-color;
}

.home-page--header {
    width: 100%;
    height: 240px;
    background-color: $theme-primary-color;
    padding-top: 72px;
    padding-bottom: 24px;
}

.header--primary {
    text-align: center;
    color: $theme-light-text-color;
    font-family:  Roboto, "Helvetica Neue", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
}

.header--secondary {
    text-align: center;
    color: $theme-light-text-color;
    font-family:  Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-top: -20px;
}

.home-page--body {
    width: 100%;
    height: 1950px;
    background-color: $theme-dark-accent-color;
}

.home-page--footer {
    width: 100%;
    height: 75px;
    background-color: $theme-primary-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer--button {
    color: $theme-light-text-color;
}

.version--span {
    font-size: 14px;
    text-align: center;
    align-self: auto;
    color: $theme-light-text-color;
}

.developer--span {
    font-size: 10px;
    text-align: center;
    font-size: 14px;
    align-self: auto;
    color: $theme-light-text-color;
    margin-right: 10px;
}