:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.mat-toolbar--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.space--filler {
    flex: 100 1 auto;
}