<mat-toolbar color="primary" class="mat-toolbar--container">
<permutr-toolbar-navigation></permutr-toolbar-navigation>
<div class="space--filler"></div>
<permutr-toolbar-actions></permutr-toolbar-actions>
</mat-toolbar>