@import '../../../../../theme/variables.scss';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-content: flex-start;
}

.form--field {
    width: 500px;
}

.message--input {
    width: 500px;
    color: white;
}

.input--button--clear {
    color: white;
}

.input--button--submit {
    margin-left: 12px;
    width: 100px;
    height: 36px;
}
