<mat-card>
    <mat-card-header>
        <mat-card-title>Parent - Child Cross Component Communication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <permutr-child-input #input></permutr-child-input>
        <permutr-child-output #output></permutr-child-output>
    </mat-card-content>
</mat-card>