<span class="child-output--span--content">{{ content }}</span>
<button mat-raised-button class="button--clear" color="primary" disabled="{{!content}}" (click)="handleClearClicked($event)">Clear</button>
