<mat-card>
        <mat-card-header>
            <mat-card-title>NGRX - Based Cross Component Communication</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <permutr-store-input></permutr-store-input>
            <permutr-store-output></permutr-store-output>
        </mat-card-content>
    </mat-card>
    