@import '../../../../../theme/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 24px);
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
