@import '~@angular/material/theming';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$theme-app-primary: mat-palette($mat-pink, 700, 500, 900);
$theme-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme-app-warn: mat-palette($mat-red);

$permutr-app-theme: mat-dark-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

// Include all theme styles for the components.
@include angular-material-theme($permutr-app-theme);
