<div class="table-actions-header--container">
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle *ngFor="let filter of filters"
                           class="table-actions--filter--button"
                           value="{{ filter }}"
                           color="primary"
                           (click)="handleFilterClicked($event, filter)">{{ filter }}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="space--filler"></div>
    <button mat-icon-button color="primary" 
            class="table-actions--button"
            (click)="handleAddItemClicked($event)">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="table-content--container">
    <table mat-table [dataSource]="itemsSource">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let item" class="type--column">{{item.typeFormatted}}</td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item" class="name--column">{{item.name}}</td>
        </ng-container>
    
        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let item" class="category--column">{{item.category}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let item" class="description--column">{{item.description}}</td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef class="cost--column">Cost</th>
            <td mat-cell *matCellDef="let item" class="cost--column">{{item.costFormatted}}</td>
        </ng-container>

        <!-- Estimated Value Column -->
        <ng-container matColumnDef="estimatedValue">
            <th mat-header-cell *matHeaderCellDef class="estimate-value--column">Estimated Value</th>
            <td mat-cell *matCellDef="let item" class="estimate-value--column">{{item.estimatedValueFormatted}}</td>
        </ng-container>

        <!-- Actual Value Column -->
        <ng-container matColumnDef="actualValue">
            <th mat-header-cell *matHeaderCellDef class="actual-value--column">Actual Value</th>
            <td mat-cell *matCellDef="let item" class="actual-value--column">{{item.actualValueFormatted}}</td>
        </ng-container>

        <!-- Date Acquired Column -->
        <ng-container matColumnDef="acquisition">
            <th mat-header-cell *matHeaderCellDef class="acquisition--column">Acquired</th>
            <td mat-cell *matCellDef="let item" class="acquisition--column">{{item.acquisitionFormatted}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="status--column">Status</th>
            <td mat-cell *matCellDef="let item" class="status--column">{{item.statusFormatted}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
