@import '../../../../theme/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.table-actions-header--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 14px;
    padding-right: 4px;
    padding-top: 12px;
    padding-bottom: 4px;
}

.table-actions-footer--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding: 24px;
}

.table-content--container {
    flex: 100 1 auto;
    padding: 12px;
}

.table-actions--filter--button {
    min-width: 80px;
}

.space--filler {
    flex: 100 1 auto;
}

.type--column {
    width: 100px;
}

.name--column {
    width: 300px;
}

.category--column {
    width: 400px;
}

.description--column {
    width: 700px;
}

.cost--column {
    width: 100px;
    min-width: 100px;
    text-align: right;
}

.estimate-value--column {
    width: 100px;
    min-width: 100px;
    text-align: right;
}

.actual-value--column {
    width: 100px;
    min-width: 100px;
    text-align: right;
}

.acquisition--column {
    width: 100px;
    min-width: 100px;
    text-align: center;
}

.status--column {
    width: 100px;
    text-align: center;
}