<div class="java-echo--input-container">
    <mat-form-field class="java-echo--form-field">
        <input class="java-echo--input" matInput placeholder="Message" spellcheck="false" [(ngModel)]="message" (keyup.enter)="handleSubmitClicked($event)">
        <button mat-button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" class="java-echo--input--button--clear" (click)="message=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button
            class="java-echo--button"
            color="primary"
            (click)="handleSubmitClicked($event)">Submit</button>
</div>
<div class="java-echo--output-container">
    <table mat-table [dataSource]="itemsSource">
        
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="column--id">ID</th>
            <td mat-cell *matCellDef="let item" class="column--id">{{ item.id }}</td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef class="column--message">Message</th>
            <td mat-cell *matCellDef="let item" class="column--message">{{ item.message }}</td>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef class="column--source">Source</th>
            <td mat-cell *matCellDef="let item" class="column--source">{{ item.source }}</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef class="column--timestamp">Timestamp</th>
            <td mat-cell *matCellDef="let item" class="column--timestamp">{{ item.timestamp?.toLocaleTimeString('en-US') }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
