<button mat-button (click)="handleNavigateHomeClicked($event)">Home</button>
<button mat-button (click)="handleNavigateInventoryClicked($event)">Inventory</button>
<button mat-button (click)="handleNavigateMarketPlaceClicked($event)">Marketplace</button>
<button mat-button (click)="handleNavigateChatClicked($event)">Chat</button>
<button mat-button (click)="handleNavigateForumClicked($event)">Forums</button>
<button mat-button (click)="handleNavigateCrossComponentClicked($event)">Communication</button>
<button mat-button (click)="handleNavigatePatternsClicked($event)">Patterns</button>
<button mat-button (click)="handleNavigateEchoClicked($event)">Echo</button>

