<mat-form-field class="form--field">
    <input class="message--input" matInput placeholder="Message" spellcheck="false" [(ngModel)]="message" (keyup.enter)="handleSubmitClicked($event)">
    <button mat-button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" class="input--button--clear" (click)="message=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button mat-raised-button class="input--button--submit" color="primary" disabled="{{!message}}" (click)="handleSubmitClicked($event)">Submit</button>
    