@import '../../../../../theme/variables.scss';

:host {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.child-output--span--content {
    color: $theme-text-color;
    min-width: 500px;
}

.button--clear {
    width: 100px;
    height: 36px;
    margin-left: 12px;
}