@import '../../../../theme/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.python-echo--input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 24px;
}

.python-echo--form-field {
    width: 500px;
}

.python-echo--input {
    width: 500px;
    color: white;
}

.python-echo--input--button--clear {
    color: white;
}

.python-echo--button {
    margin-left: 12px;
    width: 100px;
    height: 48px;
}

.python-echo--output-container {
    padding: 24px;
}

.column--id {
    width: 100px;
}

.column--message {
    width: 900px;
}

.column--source {
    width: 200px;
}

.column--timestamp {
    width: 100px;
}
