@import '../../../../theme/variables.scss';

:host {
    height: 500px;
}

.inventory-dialog--header {
    display: flex;
    flex-direction: row;
    background-color: $theme-header-background-color;
    padding: 8px;
}

.inventory-dialog--header--title {
    font-size: 20px;
    line-height: 2;
    flex: 1 1 auto;
}

.inventory-dialog--header--button {
    margin-top: 1px;
}

.inventory-dialog--body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.inventory-dialog--body--name {
    margin: 8px;
    width: 780px;
}

.mat-card-content--name {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mat-card-content--name--top-row {
    padding: 2px;
}

.input--name {
    margin-right: 8px;
}

.input--category {
    margin-right: 8px;
}

.input--type {
    margin-right: 8px;
}


.input--description {
    width: 770px;
}

.inventory-dialog--body--cost {
    margin: 8px;
    width: 780px;
}

.mat-card-content--cost {
    margin: 2px;
}

.input--cost {
    margin-right: 8px;
}

.input--estimated {
    margin-right: 8px;
}

.input--actual {
    margin-right: 8px;
}

.inventory-dialog--body--details {
    margin: 8px;
    width: 780px;
}

.mat-card-content--details {
    margin: 2px;
}

.input--location {
    margin-right: 8px;
}

.input--status {
    margin-right: 8px;
}

.input--public {
    margin-left: 12px;
}

.inventory-dialog--footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.inventory-dialog--button--cancel {
    margin-right: 8px;
}

.inventory-dialog--button--submit {
    margin-right: 8px;
}