<div class="inventory-dialog--header">
    <span class="inventory-dialog--header--title">Add/Edit Inventory Item</span>
    <button mat-icon-button
            class="inventory-dialog--header--button"
            (click)="handleCloseDialogClicked($event)">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="inventory-dialog--body">
    <mat-card class="inventory-dialog--body--name">
        <mat-card-content class="mat-card-content--name">
            <div class="mat-card-content--name--top-row">
                <mat-form-field class="input--name">
                    <input matInput placeholder="Name" spellcheck="false" [(ngModel)]="name">
                </mat-form-field>
                <mat-form-field class="input--category">
                    <input matInput placeholder="Category" spellcheck="false" [(ngModel)]="category">
                </mat-form-field>
                <mat-form-field class="input--type">
                    <mat-select placeholder="Type">
                        <mat-option *ngFor="let type of categoryTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input--acquisition">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="acquisitionInputControl" [value]="acquisitionInputControl.value">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="mat-card-content--name--bottom-row">
                <mat-form-field class="input--description">
                    <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="inventory-dialog--body--cost">
        <mat-card-content class="mat-card-content--cost">
            <mat-form-field class="input--cost">
                <input matInput placeholder="Cost" spellcheck="false" type="number" [(ngModel)]="cost">
            </mat-form-field>
            <mat-form-field class="input--estimated">
                <input matInput placeholder="Estimated Value" spellcheck="false" type="number" [(ngModel)]="estimatedValue">
            </mat-form-field>
            <mat-form-field class="input--actual">
                <input matInput placeholder="Actual Value" spellcheck="false" type="number" [(ngModel)]="actualValue">
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card class="inventory-dialog--body--details">
        <mat-card-content class="mat-card-content--details">
            <mat-form-field class="input--location">
                <input matInput placeholder="Location" spellcheck="false" [(ngModel)]="location">
            </mat-form-field>
            <mat-form-field class="input--status">
                <mat-select placeholder="Status">
                    <mat-option *ngFor="let option of statusOptions" [value]="status">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox class="input--public" [(ngModel)]="public">Public</mat-checkbox>
        </mat-card-content>
    </mat-card>
</div>
<div class="inventory-dialog--footer">
    <button mat-button 
            class="inventory-dialog--button--cancel" 
            (click)="handleCancelClicked($event)">Cancel</button>
    <button mat-raised-button 
            color="primary" 
            class="inventory-dialog--button--submit"
            disabled="{{ submitDisabled }}"
            (click)="handleSubmitClicked($event)">Submit</button>
</div>