@import '../../../../theme/variables.scss';

:host {
    background-color: $theme-primary-color;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding-left: 20px;
    padding-top: 72px;
    padding-bottom: 24px;
}

.header--display {
    font-family:  Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 28px;
    color: $theme-light-text-color;
}
