@import './theme/variables.scss';
@import './theme/material-theme.scss';

body {
    margin: 0;
}

.mat-row, .mat-header-row {
    width: 100%;
    
}

.mat-table {
    overflow: scroll;
}

.mat-dialog-container {
    padding: 0px !important;
    max-width: 100% !important;
}