<mat-card class="isolation--card">
    <mat-card-header>
        <mat-card-title>Isolation (Fire-and-Forget) Simulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="isolation--content--container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awating Content from Source A</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="isolation--output--header">
                        <div class="isolation--output--content--row" *ngIf="statusA">
                            <span>Status: </span>
                            <span class="content--display">{{ statusA }}</span>
                        </div>
                        <div class="isolation--output--content" *ngIf="isolationA">
                            <div class="isolation--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ isolationA.id }}</span>
                            </div>
                            <div class="isolation--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ isolationA.name }}</span>
                            </div>
                            <div class="isolation--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ isolationA.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Awaiting Content from Source B</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="isolation--output--header">
                        <div class="isolation--output--content--row" *ngIf="statusB">
                            <span>Status: </span>
                            <span class="content--display">{{ statusB }}</span>
                        </div>
                        <div class="isolation--output--content" *ngIf="isolationB">
                            <div class="isolation--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ isolationB.id }}</span>
                            </div>
                            <div class="isolation--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ isolationB.name }}</span>
                            </div>
                            <div class="isolation--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ isolationB.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="handleExecuteClicked($event)">Execute</button>
    </mat-card-actions>
</mat-card>