@import '../../../../theme/variables.scss';

:host {
    padding: 12px;
    width: calc(100% -24px);
}

.isolation--card {
    width: calc(100% -24px);
}

.isolation--content--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 36px !important;
}

.isolation--output--header {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.isolation--output--content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 12px;
}

.isolation--output--content--row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.content--display {
    margin-left: 12px;
}