<permutr-toolbar class="mat-elevation-z6"></permutr-toolbar>
<div class="shell--content--container" [ngSwitch]="currentNavigation">
    <permutr-content-home *ngSwitchCase="NavigationOptions.HOME"></permutr-content-home>
    <permutr-content-inventory *ngSwitchCase="NavigationOptions.INVENTORY"></permutr-content-inventory>
    <permutr-content-marketplace *ngSwitchCase="NavigationOptions.MARKETPLACE"></permutr-content-marketplace>
    <permutr-content-chat *ngSwitchCase="NavigationOptions.CHAT"></permutr-content-chat>
    <permutr-content-echo *ngSwitchCase="NavigationOptions.ECHO"></permutr-content-echo>
    <permutr-content-cross-component *ngSwitchCase="NavigationOptions.CROSS_COMPONENT"></permutr-content-cross-component>
    <permutr-content-patterns *ngSwitchCase="NavigationOptions.PATTERNS"></permutr-content-patterns>
</div>