<button mat-icon-button (click)="handleHelpClicked($event)">
    <mat-icon>help</mat-icon>
</button>
<button mat-icon-button (click)="handleBugReportClicked($event)">
    <mat-icon>bug_report</mat-icon>
</button>
<button mat-icon-button (click)="handleSettingsClicked($event)">
    <mat-icon>settings</mat-icon>
</button>