@import '../../../../theme/variables.scss';

:host {
    background-color: $theme-dark-accent-color;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 1950px;
}
