<mat-card class="dependency-chain--card">
    <mat-card-header>
        <mat-card-title>Dependency Chain Simulation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="dependency-chain--content--container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>First Step in the Dependency Chain</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="dependency-chain--output--header">
                        <div class="dependency-chain--output--content--row" *ngIf="statusA">
                            <span>Status: </span>
                            <span class="content--display">{{ statusA }}</span>
                        </div>
                        <div class="dependency-chain--output--content" *ngIf="chainA">
                            <div class="dependency-chain--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ chainA.id }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ chainA.name }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ chainA.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Second Step in the Dependency Chain</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="dependency-chain--output--header">
                        <div class="dependency-chain--output--content--row" *ngIf="statusB">
                            <span>Status: </span>
                            <span class="content--display">{{ statusB }}</span>
                        </div>
                        <div class="dependency-chain--output--content" *ngIf="chainB">
                            <div class="dependency-chain--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ chainB.id }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ chainB.name }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ chainB.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Third Step in the Dependency Chain</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="dependency-chain--output--header">
                        <div class="dependency-chain--output--content--row" *ngIf="statusC">
                            <span>Status: </span>
                            <span class="content--display">{{ statusC }}</span>
                        </div>
                        <div class="dependency-chain--output--content" *ngIf="chainC">
                            <div class="dependency-chain--output--content--row">
                                <span>ID: </span>
                                <span class="content--display">{{ chainC.id }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Name: </span>
                                <span class="content--display">{{ chainC.name }}</span>
                            </div>
                            <div class="dependency-chain--output--content--row">
                                <span>Content: </span>
                                <span class="content--display">{{ chainC.content }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="handleExecuteClicked($event)">Execute</button>
    </mat-card-actions>
</mat-card>